/* Info */
article {
    height: 500px;
    text-align: center;
    overflow: hidden;
}

article p {
    padding-bottom: 10px;
}

article #about {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 850px;
    line-height: 1.5em;
    text-align: left;
}

article #profile {
    float: left;
    padding: 0;
    overflow: hidden;
    max-width: 50%;
    display: inline;
    max-height: 400px;
}

article #desc {
    background-color: white;
    width: 50%;
    padding: 20px;
    float: right;
}

article h1 {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;
}

article h1 a {
    padding-right: 67px;
    font-size: 20px;
    font-weight: 400;
}

#dropboxLogo {
    width: 25px;
    line-height: 50px;
    bottom: 0;
}