/* Banner */
header {
    background-color: white;
    text-align: center;
    height: 200px;
    overflow: hidden;
    /*transition: height 2s, transform 2s;*/
}

/*
header:hover {
    height: 200px;
}*/
 
header div {
    overflow: hidden;
    width: 850px;
    display: inline-block;
}

header span#welcome {
    font-weight: 100;
    font-size: 43px;
    width: 60%;
    line-height: 200px;
    float: left;
}

header span#profile {
    height: 200px;
    width: 40%;
    float: right;
    padding: 0;
}

header img {
    position:relative;
    max-height: 300px;
    bottom: 35px;
    height: auto;
}

/* Info */
article {
    background-color: rgb(236, 240, 241);
    text-align: center;
}

article p {
    padding-bottom: 10px;
}

article div {
    box-sizing: border-box;
    padding: 20px;
    width: 850px;
    line-height: 1.5em;
    text-align: left;
}

article h1 {
    text-align: center;
}

#dropboxLogo {
    width: 40px;
    line-height: 50px;
    bottom: 0;
}