/* General */
* {
    margin: 0 auto;
}

html {
    overflow-y:scroll;
}

nav *, span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div a, p, h1, h2, span, footer {
    font-family: 'Segoe UI', 'Lucida Mac', 'Calibri', 'Helvetica Neue', sans-serif;
    color: rgb(26, 26, 26);
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: rgb(37, 116, 169);
}

/* Navigation */
nav {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    height: 110px;
}

nav div {
    display: inline-block;
    min-width: 850px;
}

ul {
    list-style-type: none;
    background-color: white;
    float: right;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

ul li {
    display: inline;
    padding: 14px;
}

a#home {
    display: block;
    font-size: 40px;
    text-decoration: none;
    font-weight: 200;
    float: left;
}

a#home:hover {
    color: rgb(26, 26, 26);
}

nav ul li a {
    letter-spacing: 0.013em;
    font-size: 18px;
    font-weight: 200;
    line-height: 50px;
    text-decoration: none;
}

nav span {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 0px;
}

/* Footer */
footer {
    text-align: center;
    height: 30px;
    padding: 10px;
}

footer div {
    font-size: 11px;
    text-align: right;
    width: 850px;
}