/* General */
* {
    margin: 0 auto;
}

html {
    overflow-y:scroll;
}

nav *, span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header, article, nav {
    border-bottom: 1px solid rgb(168, 168, 168);
}

div a, p, h1, h2, span, footer {
    font-family: "Segoe UI";
    color: rgb(26, 26, 26);
}

h1 {
    font-size: 35px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(37, 116, 169);
}

/* Navigation */
nav {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(236, 240, 241);
    height: 110px;
}

nav div {
    display: inline-block;
    min-width: 850px;
}

a#home {
    display: block;
    font-size: 35px;
    text-decoration: none;
    font-weight: 400;
    float: left;
}

a#home:hover {
    color: rgb(26, 26, 26);
}

nav a, nav span {
    font-size: 15px;
    font-weight: 500;
    line-height: 60px;
    text-decoration: none;
    padding: 5px;
    float: right;
}

nav span {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 0px;
}

/* Footer */
footer {
    text-align: center;
    height: 30px;
    padding: 10px;
}

footer div {
    font-size: 11px;
    text-align: right;
    width: 850px;
}