/* General */
* {
    margin: 0 auto;
}

html {
    overflow-y:scroll;
}

nav * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div a, p, h1, h2, footer {
    font-family: 'Segoe UI', 'Lucida Mac', 'Calibri', 'Helvetica Neue', sans-serif;
    color: rgb(26, 26, 26);
}

a {
    text-decoration: none;
}
a:hover {
    color: goldenrod;
}

/* Navigation */
nav {
    float: left;
    text-align: left;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 50px;
    padding: 20px;
    height: 100%;
    width: 220px;
    min-height: 400px;
}

.nav-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    list-style: none;
}

#home {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
}

.menu li {
    display: block;
    margin-top: 7px;
}

.contacts {
    margin: 5px;
    margin-top: 220px;
}

.contacts li {
    display: inline;
}

.contacts img {
    width: 20px;
    margin-right: 3px;
}