/* Message Banner */
header {
    height: 140px;
    text-align: center;
}

header span {
    line-height: 140px;
    font-size: 50px;
    font-weight: 300;
}

/* Contact Info */
article {
    text-align: center;
}

article section {
    box-sizing: border-box;
    padding: 40px;
    padding-bottom: 0px;
    width: 850px;
    display: inline-block;
}

article div {
    text-align: left;
    margin-bottom: 20px;
}

article img {
    position: relative;
    top: 9px;
    width: 42px;
    margin-right: 15px;
}

article a {
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}