/* Projects */
article {
	margin-top: 30px;
	padding-bottom: 30px;
    text-align: center;
}

article section {
	background-color: rgb(236, 240, 241);
	display: inline-block;
	width: 850px;
	padding-top: 10px;
	padding-bottom: 25px;
	margin-bottom: 30px;
	border-right: 1px solid rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
}

p {
	text-align: left;
}

p, h2 {
	margin-bottom: 15px;
}

h2 {
	font-style: italic;
}

article img {
	float: left;
	margin-bottom: 20px;
}

article img {
	max-width: 411px;
	max-height: 411px;
	margin-right: 100%;
}

article img.shadow {
	margin-right: 20px;
	margin-left: 20px;
}

.shadow {
	-webkit-box-shadow: 1px 1px 1px #7C7C7C;
    box-shadow: 1px 1px 1px #7C7C7C;
}

.desc {
	float: left;
	max-width: 389px;
	height: 421px;
	display: inline-block;
	box-sizing:border-box;
	padding-right: 20px;
	position: relative;
}

.g-community {
	float: left;
	margin-bottom: 10px;
}

.bottom {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}

div.bottom span, div.bottom a {
	float: left;
}

div.bottom span {
	line-height: 64px;
	font-size: 20px;
	padding-right: 20px;
}
