article > * {
    font-size: 15px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
}

article > ul {
    list-style-type: none;
    margin-bottom: 20px;
}

article > ul > li:before {
    content: "–"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
}

article > ul li {
    margin-bottom: 5px;
}

article > p {
    margin-bottom: 10px;
    margin-left: 30px;
}

article > ul {
    margin-left: 30px;
}