<!DOCTYPE html>

<html>

<head>
    <title>George Ke</title>
    <meta text="utf-8">
    <link href="assets/css/common.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/photos.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/img/gitpp.png">
</head>

<body>

{{> nav}}

<article>
    {{#posts}}
    <h1>{{title}}</h1>
    {{/posts}}
</article>

</body>
</html>
