<!DOCTYPE html>

<html>

<head>
    <title>George Ke</title>
    <meta text="utf-8">
    <link href="assets/css/common.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/blog.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/img/gitpp.png">
</head>

<body>

{{> nav}}

<article>
    {{#posts}}
    <div>
        <a href="blog/{{id}}.html"><img src="assets/img/blog/{{id}}.jpg"></a>
        <h1><a href="blog/{{id}}.html">{{title}}</a></h1>
    </div>
    {{/posts}}
</article>

</body>
</html>
