<nav>
    <div class="nav-container">
        <ul class="menu">
            <li id="home">GEORGE KE</li>
            <li>
                <a href="../index.html">HOME</a>
            </li>
            <li>
                <a href="../portfolio.html">PROJECTS</a>
            </li>
            <li>
                <a href="../resume.html">RESUME</a>
            </li>
            <li>
                <a href="../photos.html">PHOTOS</a>
            </li>
            <li>
                <a href="../blog.html">BLOG</a>
            </li>
        </ul>
        <ul class="contacts">
            <li>
                <a href="mailto:georgekeee@gmail.com">
                    <img src="../assets/img/brand/mail.png" alt="email">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/profile/view?id=47594800" target="_blank">
                    <img src="../assets/img/brand/linkedin.png" alt="linkedin">
                </a>
            </li>
            <li>
                <a href="https://github.com/georgeke" target="_blank">
                    <img src="../assets/img/brand/github.png" alt="github">
                </a>
            </li>
        </ul>
    </div>
</nav>
