article {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 700px;
}

article div {
    margin-left: 20px;
    width: 300px;
}

article img {
    width: 100%;
}

article h1 {
    font-size: 20px;
    margin-top: 8px;
    font-weight: 200;
    text-align: center;
}

article h1 a {
    text-decoration: none;
}
