/* Projects */
article section {
    text-align: left;
    display: inline-block;
    width: 850px;
    padding-top: 10px;
    margin-bottom: 15px;
}

p {
    text-align: left;
}

h1 {
    font-size: 30px;
    font-weight: 100;
    margin: 0;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h1 a img {
    height: 35px;
}

p, h2 {
    margin-bottom: 15px;
    font-weight: 200;
}

article img.projectImg {
    float: left;
    margin-bottom: 20px;
    max-width: 411px;
    max-height: 411px;
    margin-right: 100%;
    cursor:url(../img/zoom.cur), -moz-zoom-in;
}

article img.shadow {
    margin-right: 20px;
}

.desc {
    float: left;
    max-width: 389px;
    height: 421px;
    display: inline-block;
    box-sizing:border-box;
    padding-right: 20px;
    position: relative;
}

.g-community {
    float: left;
    margin-bottom: 10px;
}
