<!DOCTYPE html>

<html>

<head>
    <title>George Ke</title>
    <meta text="utf-8">
    <link href="css/common.css" type="text/css" rel="stylesheet" />
    <link href="css/index.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/gitpp.png">
</head>

<body>

{{> nav}}

<article>
    <img src="img/profile.jpg"/>
    <p>What's poppin'?</p>
</article>

</body>
</html>
